.navbar{
    background-color: #63b7af;
    color: #d4f3ef;
}

.navbar a{
    color: #d4f3ef;  
}
.nav a{
    color: #d4f3ef;
}

.nav-btn{
    margin-right: 2.5rem;

}

.sector-names{
    background-color: #d4f3ef;
}